@tailwind base;
@tailwind components;
@tailwind utilities;

select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

@layer components {
    .icon-bottom {
        @apply size-6 text-gray-500 dark:text-gray-400 group-hover:text-primary-600 dark:group-hover:text-primary-500
    }
}